
body {
  background-color: lightgray;
  font-family: sans-serif;
}

nav {
  background-color: #708090;
  padding: 5px;
  color: white;
}
a {
  float: right;
}

#pic {
  background: url("fire.jpg") no-repeat ;
}
.table {
  font-size: 1.2em;
}
